#calendar

	display: table
	width: 95%
	margin: 2.5%
	border-left: 1px solid $light-gray
	border-bottom: 1px solid $light-gray

	.row
		display: table-row

	.cols

		margin: 0
		display: table-cell
		border-right: 1px solid $light-gray
		border-top: 1px solid $light-gray
		float: none
		vertical-align: middle
		padding: 1%
		width: 18%

	.time

		font-weight: 700

	.title

		padding: 0

		h2

			width: 100%
			margin: 0
			padding: 2% 0

