.arrow

	display: block
	height: 0
	width: 0
	border: 8px solid transparent
	font-size: 0
	margin-top: 3px

	&.left

		border-right-color: $white
		float: left

	&.right

		border-left-color: $white
		float: right
.table

	display: table
	width: 99%
	margin: 2.5% 0
	border-left: 1px solid $light-gray
	border-bottom: 1px solid $light-gray

	.tooltip

		//position: relative

		.bucket

			display: none
			position: absolute
			border: 1px solid $gray
			width: 20%
			z-index: 3
			font-size: 75%
			margin: 0
			padding: 0 .5% .5% .5%

		&:hover

			.bucket

				display: block

	.row
		display: table-row

	.cols

		margin: 0
		display: table-cell
		border-right: 1px solid $light-gray
		border-top: 1px solid $light-gray
		float: none
		vertical-align: middle
		padding: 1%
		width: 18%

	.time

		font-weight: 700

	.title

		padding: 0
		background-color: $gray

		.info

			display: inline
			vertical-align: top
			height: 20px


		h2

			width: 100%
			margin: 0
			padding: 2% 0

	.name

		vertical-align: middle
		line-height: 25px
		margin: 2% 0

		img

			float: left
			height: 25px
			width: auto
			margin-right: 2%

	a.name

		display: block



	.update

		img

			vertical-align: middle
			display: inline